# Node.js dependencies
node_modules/

# Logs
logs/
*.log

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Dependency directories
.idea/
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/