<html>
    <head>
        <title>Form Input</title>
    </head>
    <body>
        <h1>Form Input</h1>
        <form action="/submit" method="post">
  
            <label for="id">Handling Unit:</label>
            <input type="text" id="id" name="id" required><br><br>
        
            <label for="nameOfAPI">Name of API:</label>
            <input type="text" id="nameOfAPI" name="nameOfAPI" required><br><br>
        
            <label for="brandName">Brand Name:</label>
            <input type="text" id="brandName" name="brandName"><br><br>
        
            <label for="manufacturer">Manufacturer:</label>
            <input type="text" id="manufacturer" name="manufacturer" required><br><br>
        
            <label for="batchNumber">Batch Number:</label>
            <input type="text" id="batchNumber" name="batchNumber" required><br><br>
        
            <label for="batchSize">Batch Size:</label>
            <input type="text" id="batchSize" name="batchSize" required><br><br>
        
            <label for="dateOfManufacture">Date of Manufacture:</label>
            <input type="text" id="dateOfManufacture" name="dateOfManufacture" required><br><br>
        
            <label for="dateOfExpiry">Date of Expiry:</label>
            <input type="text" id="dateOfExpiry" name="dateOfExpiry" required><br><br>
        
            <label for="serialShippingContainerCode">Serial Shipping Container Code:</label>
            <input type="text" id="serialShippingContainerCode" name="serialShippingContainerCode"><br><br>
        
            <label for="licenseNumber">License Number:</label>
            <input type="text" id="licenseNumber" name="licenseNumber" required><br><br>
        
            <label for="storageConditions">Storage Conditions:</label>
            <input type="text" id="storageConditions" name="storageConditions"><br><br>
        
            <button type="submit">Submit</button>        
                
        </form>
    </body>
</html>