<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <h1>Home</h1>
        <form action="/form" method="get">
            <button type="submit">Go to Input Form</button>
        </form>
        <form action="/search" method="get">
            <button type="submit">Go to Search</button>
        </form>
    </body>
</html>